@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>World Cup</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="text-white text-center">
            <h1>World Cup</h1>
            <button onclick="myFunction()">Press here to predict the Winner!</button>
            <p id="demo"></p>
            <script src="~/js/JavaScript1.js"></script>
        </div>
    </div>


    <div class="vid">
        <iframe width="800" height="515" src="https://www.youtube.com/embed/8n5dJwWXrbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>

